<!--The content below is only a placeholder and can be replaced.-->
<div class="root">
  <header style="text-align:center">
    <h2>
      Secure Password Generator
    </h2>
  </header>
  <form class="password-form" #registrationForm="ngForm" (ngSubmit)="onSubmit()">
    <div>
      <div class="pass-length-header">
        <label class="password-label" for="passwordLength">Password length: </label>
        <input id="passwordLength" type="number" class="password-input" name="passwordLength" [(ngModel)]="passwordLength" placeholder="e.g. 12" required minlength="9" maxlength="10">
      </div>
      <div class="checkbox-header">
        <input id="alphabetCheckbox" class="checkbox" type="checkbox" name="alphabetCheck" [(ngModel)]="isAlphabetChecked">
        <label for="alphabetCheckbox" class="checkbox-desc">
          Include Alphabets (eg. a, A, b, B, c, C)
        </label>
      </div>
      <div class="checkbox-header">
        <input id="numberCheckbox" class="checkbox" type="checkbox" name="numberCheck" [(ngModel)]="isNumberChecked">
        <label for="numberCheckbox" class="checkbox-desc">
          Include numbers (eg. 1,2,3,4)
        </label>
      </div>
      <div class="checkbox-header">
        <input id="specialCharacterCheck" class="checkbox" type="checkbox" name="charCheck" [(ngModel)]="isCharChecked">
        <label for="specialCharacterCheck" class="checkbox-desc">
          Include special characters (eg. !,@,#,$)
        </label>
      </div>
      <div class="button-header">
        <input type="submit" class="generate-btn" value="Generate Password" [disabled]="!registrationForm.form.valid">
      </div>
      <p *ngIf="boxUnchecked" class="err-msg">Check atleast one box to generate valid password</p>
    </div>  
  </form>
  <div class="password-text-header">
    <div class="password-title">Your generated password will appear here</div>
    <div class="password-val"> 
      <div class="pass-text">{{passwordValue}}</div>    
    </div>
    <button *ngIf="passwordValue.length > 0" class="copy-btn"  type="button" (click)="copyCode()">Copy password</button>
    <div *ngIf="passwordCopy" class="copy-msg">Password copied to clipboard!</div>
  </div>
</div>  

