/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    background-color: #E3E0DD;
}
html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}